

body {
  font-family: Open Sans, sans-serif;;
}
.tooltip {
  font-family: Open Sans, sans-serif;;
}
.custom-font {
  font-family: Open Sans, sans-serif;;
}
.product__label {
  font-family: Open Sans, sans-serif;;
}
.price-box {
  font-family: Open Sans, sans-serif;;
}
.slider-blog-layout1 .slider-blog__item h6 {
  font-family: Open Sans, sans-serif;;
}
.recent-post-box h4 {
  font-family: Open Sans, sans-serif;;
}
.input-counter input {
  font-family: Open Sans, sans-serif;;
}
.input-counter span {
  font-family: Open Sans, sans-serif;;
}
.tp-caption1--wd-2 {
  font-family: Open Sans, sans-serif;;
}
.tp-caption2--wd-2 {
  font-family: Open Sans, sans-serif;;
}
.tp-caption2--wd-3 {
  font-family: Open Sans, sans-serif;;
}
.tp-caption3--wd-2 {
  font-family: Open Sans, sans-serif;;
}
.tp-caption3--wd-3 {
  font-family: Open Sans, sans-serif;;
}
.tp-caption4--wd-1 {
  font-family: Open Sans, sans-serif;;
}
.tp-caption4--wd-2 {
  font-family: Open Sans, sans-serif;;
}
.slider-layout-2 .tp-caption1--wd-2 {
  font-family: Open Sans, sans-serif;;
}
.promos__label {
  font-family: Open Sans, sans-serif;;
}
.vertical-carousel .label {
  font-family: Open Sans, sans-serif;;
}
.post__title_block time span {
  font-family: Open Sans, sans-serif;;
}
.countdown-transparent .countdown-amount {
  font-family: Open Sans, sans-serif;;
}





.lead {
  font-family: Open Sans;
}
.delivery-banner__text h5 {
  font-family: Open Sans;
}
.slider-blog .box-foto:after {
  font-family: Open Sans;
}
.slider-blog .box-data h6 em {
  font-family: Open Sans;
}
.slider-blog .box-foto:after {
  font-family: Open Sans;
}
.slider-blog .box-data h6 em {
  font-family: Open Sans;
}
.testimonialsAsid .slick-slide p span:before {
  font-family: Open Sans;
}
.slider-blog-layout1 .slider-blog__item .box-foto:before {
  font-family: Open Sans;
}
.slider-blog-layout1 .slider-blog__item h6 em {
  font-family: Open Sans;
}
.recent-post-box .figure .figcaption em {
  font-family: Open Sans;
}
.recent-post-box .author {
  font-family: Open Sans;
}
.banner .figcaption .text.size1 {
  font-family: Open Sans;
}
.banner .figcaption .text.size4 {
  font-family: Open Sans;
}
.banner .figcaption .text.size5 {
  font-family: Open Sans;
}
.tp-caption1--wd-1 {
  font-family: Open Sans;
}
.tp-caption2--wd-1 {
  font-family: Open Sans;
}
.tp-caption3--wd-1 {
  font-family: Open Sans;
}
.slider-layout-2 .tp-caption1--wd-1 {
  font-family: Open Sans;
}
.post__title_block time {
  font-family: Open Sans;
}
.post__meta .autor {
  font-family: Open Sans;
}
.recent-comments dt {
  font-family: Open Sans;
}
.slogan {
  font-family: Open Sans;
}
.comments .media-body .media-title .username {
  font-family: Open Sans;
}
